.headwrapper{
	width: 100%;
	float: left;
	margin-bottom: 7px;
	
}
.logo{
	width: 100%;
	float: left;
	color: #898a8e; !important;
	background: #fff;

}

.menu{
	width: 100%;
	float: left;
	font-weight: bold!important;
	background: #f77f00;
	
}

.wrapperboard{
	width: 100%;
	float: left;
	margin-bottom: 17px;
	
}

.information{
	width: 100%;
	float: left;
	margin-bottom: 7px;
}
.footer{
	width: 100%;
	float: left;
	border-top: 3px solid #c03;
}
.nivoimage{
	width: 100%;
	/*margin: 0 20%;*/
	height: 100px !important;
}
.events{
	width: 100%;
	list-style: none;
	margin: 0 0!important;
}

.events li{
	float: left;
	width: 30%;
	margin-left: 10px;
}
.events li span.eventimage{
	width:30%;
	height: auto;
	float: left;
}
.readon{
	
	text-decoration: none;
	/*font-weight: bold*/;
}

.readon span:hover{
	background: #444;
	 
}

a.readon span{
	background: #ff0000;
	padding: 5px;
	border: 1px solid #aaa;
	float: left;
	border-radius: 5px;
	font-weight: normal!important;
	text-transform: capitalize;
	color: #fff;
}

.information p{
	/*text-align: center*/;

}

@media(min-width:320px) and (max-width:480px){

.events li{
	width: 100%;
	margin:auto;
}

}

@media(min-width: 540px) and (max-width: 640px){

.events li{
	width: 40%;
	margin-bottom: 20px;
}

}

