.headwrapper{
	width: 100%;
	float: left;
	margin-bottom: 7px;
	
}
.logo{
	width: 100%;
	float: left;
	color: #898a8e !important;
	background: #fff;

}

.menu{
	width: 100%;
	float: left;
	font-weight: bold!important;
	background: #f77f00;
	box-shadow: 3px 3px rgba(141, 142, 148, 1);
	
}

.wrapperboard{
	width: 70%;
	float: left;
	margin-bottom: 17px;
	margin:0 15%;
	/*position: relative;*/
	
}

.information{
	width: 100%;
	float: left;
	margin-bottom: 7px;
}
.footer{
	width: 100%;
	float: left;
	border-top: 3px solid #f77f00;
	background: #898a8e;
}
.nivoimage{
	width: 100%;
	/*margin: 0 20%;*/
	height: auto;
}
.events{
	width: 100%;
	list-style: none;
	margin: 0 0!important;
}

.events li{
	float: left;
	width: 30%;
	margin-left: 10px;
}
.events li span.eventimage{
	width:100%;
	height: auto;
	float: left;
}
.readon{
	
	text-decoration: none;
	/*font-weight: bold*/;
}

.readon span:hover{
	background: #ffffff;
	color: #f77f00;
	font-weight: bolder;
	 
}

a.readon span{
	background: #f77f00;
	padding: 5px;
	border: 1px solid #aaa;
	float: left;
	border-radius: 5px;
	font-weight: normal!important;
	text-transform: capitalize;
	color: #fff;
	margin-bottom: 5px;
}

.information p, .information h2{
	color: #ffffff;

}

.nivo-caption {
background: #000 !important;
width: 40% !important;
padding: 20px;
opacity: 0.6 !important;
left: auto !important;
right: 25px!important;
top: 75px;
max-height: 120px;
font-size: 24px;
line-height: 2;
border-radius: 5px;
}

@media(min-width:320px) and (max-width:480px){

.events li{
	width: 100%;
	margin:auto;
}
.wrapperboard{
	width: 100%;
	float: left;
	margin-bottom: 17px;
	margin-right: 0;
	margin-left: 0;
}

}
@media(min-width: 481px) and (max-width: 539px){

.events li{
	width: 40%;
	margin-bottom: 20px;
}
.wrapperboard{
	width: 100%;
	float: left;
	margin-bottom: 17px;
	margin-right: 0;
	margin-left: 0;
}

}

@media(min-width: 540px) and (max-width: 640px){

.events li{
	width: 40%;
	margin-bottom: 20px;
}
.wrapperboard{
	width: 100%;
	float: left;
	margin-bottom: 17px;
	margin-right: 0;
	margin-left: 0;
}

}